@* This is the product details page *@

@model Nicolas_Tambellini_CPRG214_Lab_3.Models.Product

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Product</h4>
        <hr />
        @* Displays details of a selected product including long description and image *@
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ProductID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ShortDescription)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LongDescription)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LongDescription)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CategoryID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CategoryID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ImageFile)
            </dt>
    
            <dd>
                <img alt="@Html.DisplayFor(model => model.ImageFile)" src="~/Images/Products/@Html.DisplayFor(model => model.ImageFile)" />
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UnitPrice)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OnHand)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OnHand)
            </dd>
    
        </dl>
    </div>
    @* link to go back to product list *@
    <p>
        @Html.ActionLink("Back to List", "Products", "Products")
    </p>
</body>
</html>
